<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <link type="text/css" rel="reset.css" />
        <script type="text/javascript">
        <!--
        function addPost(post, realm) {

            var postElement = $('<div>').attr("id", post.id).attr("class", "post");

            var nameElement = $('<div>').attr("class", "post-name").text(post.name);
            var contentElement = $('<div>').attr("class", "post-content").text(post.content);
            var sympathiesElement = $('<div>').attr("class", "post-sympathies").text(post.sympathies.length);

            postElement.append(nameElement).append(contentElement).append(sympathiesElement);

            $("#"+realm+"> .content").prepend(postElement);
        };

        function addPosts(posts) {
            $.each(posts, function(index, post) {
                var realm = post.good ? "sunny" : "cloudy"; 
                addPost(post, realm);
            });
        };

        function processPostsResponse(json) {
            posts = JSON.parse(json);
            addPosts(posts);
        };

        $(function() {
            $(".new-post-input").click(function() {
                $(this).attr("rows", 5);
            });

            $.get("posts", processPostsResponse);
        });

        -->
        </script>
        <style type="text/css">
            #sunny {
                background-color: #FFFFFF;
            }

            #cloudy {
                background-color: #FFF;
            }

            ul.controls {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: right;
            }

            ul.controls a {
                background-color: #0000CC;
                color: #FFFFFF;
                text-decoration: none;
            }

            .new-post {
                border: 1px solid #000000;
                width: 350px;
                background-color: #CCCCCC;
            }
            
            .new-post-input {
                width: 350px;
                margin-bottom: 0px;
                margin-top: 0px;
            }
        </style>
    </head>

    <body>
        <div id="cloudy">
            <div class="new-post">
                <textarea class="new-post-input" rows="1"></textarea>
                <ul class="controls">
                    <li><a href="#" class="submit">Submit</a></li>
                </ul>
            </div>
            <div class="content">
            </div>
        </div>

        <div id="sunny">
            <div class="new-post">
                <textarea class="new-post-input" rows="1"></textarea>
                <ul class="controls">
                    <li><a href="#" class="submit">Submit</a></li>
                </ul>
            </div>
            <div class="content">
            </div>
        </div>
    </body>


</html>
