<html>
    <head>
        <title>The next big twitter thing</title>
        <script src="jquery.js"></script>
        <script src="jquery.watermarkinput.js"></script>
        <link rel="stylesheet" href="design/css/main.css" />
        <script type="text/javascript">
        <!--
        function addPost(post, realm) {

            var contentElement = $('<div>').attr("class", "post-content").text(post.content);

            var detailsList = $('<ul>').attr("class", "post-details");
            var nameElement = $('<li>').attr("class", "post-name").text(post.name ? "by " + post.name : "by anonymous");
            var sympathiesText = realm == "cloudy" ? "Hells!" : "Yeahs!";
            var sympathiesElement = $('<li>').attr("class", "post-sympathies").text(post.sympathies.length + " " + sympathiesText);
            detailsList.append(nameElement).append(sympathiesElement);

            var postElement = $('<div>').attr("id", post.id).attr("class", "post");
            postElement.append(contentElement).append(detailsList);

            $("#"+realm+"> .content").prepend(postElement);
        };

        function addPosts(posts) {
            $.each(posts, function(index, post) {
                var realm = post.good ? "sunny" : "cloudy"; 
                addPost(post, realm);
            });
        };

        function processPostsResponse(json) {
            posts = JSON.parse(json);
            addPosts(posts);
        };

        function postPost(realm) {
            var realmSelector = "#" + realm + " ";
            var name = $(realmSelector + ".new-post-input-name").val();
            name = (name == "Your Name (optional)" ? "" : name);
            var email = $(realmSelector + ".new-post-input-email").val();
            email = (email == "Your EMail (optional)" ? undefined : email);
            var post = {
                good : realm == "sunny",
                content : $(realmSelector + ".new-post-input-content").val(),
                name : name,
                email : email
            };
            
            $.post("posts", JSON.stringify(post), postStored);
        };

        function postStored(data) {
            var post = JSON.parse(data).post; 
            var realm = post.good ? "sunny" : "cloudy"; 
            addPost(post, realm);
        };

        $(function() {
            $("#cloudy .new-post-input-content").focus(function() {
                $(this).attr("rows", 5);
                $("#cloudy .new-post-input-elements .additional-inputs").attr("style", "display: block;");
            });

            $("#sunny .new-post-input-content").focus(function() {
                $(this).attr("rows", 5);
                $("#sunny .new-post-input-elements .additional-inputs").attr("style", "display: block;");
            });

            $('#cloudy .new-post-input-content').Watermark("What the hell?");
            $('#sunny .new-post-input-content').Watermark("What's yeah?");
            $('.new-post-input-name').Watermark("Your Name (optional)");
            $('.new-post-input-email').Watermark("Your EMail (optional)");

            $('#cloudy a.new-post-input-submit').click(function() {
                postPost("cloudy");
                return false;
            });
            $('#sunny a.new-post-input-submit').click(function() {
                postPost("sunny");
                return false;
            });

            setInterval(function() {
                cloudyId = JSON.parse($('#cloudy .post').first().attr("id"));
                sunnyId = JSON.parse($('#sunny .post').first().attr("id"));
                id = cloudyId > sunnyId ? cloudyId : sunnyId;
                $.get("new_posts/" + id, processPostsResponse);
            }, 15000);
            $.get("posts", processPostsResponse);
        });

        -->
        </script>
    </head>

    <body>
        <div class="bg">
        </div>
        <div class="main-content">
            <div id="cloudy">
                <div class="new-post">
                    <div class="new-post-input-elements">
                        <textarea name="content" class="new-post-input-content" rows="1"></textarea>
                        <div class="additional-inputs" style="display:none;" >
                            <input name="name" class="new-post-input-name" type="text" />
                            <input name="email" class="new-post-input-email" type="text" />
                            <a href="#" class="new-post-input-submit">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                </div>
            </div>

            <div id="sunny">
                <div class="new-post">
                    <div class="new-post-input-elements">
                        <textarea name="content" class="new-post-input-content" rows="1"></textarea>
                        <div class="additional-inputs" style="display: none;" >
                            <input name="name" class="new-post-input-name" type="text" />
                            <input name="email" class="new-post-input-email" type="text" />
                            <a href="#" class="new-post-input-submit">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="content">
                </div>
            </div>
            <div class="break"></div>
        </div>
    </body>


</html>
